.loader {
  width: 48px;
  height: 48px;
  border: 5px solid yellow;
  border-bottom-color: rgb(33, 144, 177);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  left: 47%;
  top: 43%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}